<h3>Edit Volunteer</h3>

<div>
    <form id="addvolForm" name="form" ng-submit="form.$valid">
        <h4>Personal Information</h4>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" ng-model="self.vol.FirstName">
            </div>
            <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" ng-model="self.vol.LastName">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" ng-model="self.vol.Email">
            </div>
            <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input type="tel" class="form-control" placeholder="###-###-####" ng-model="self.vol.PhoneNumber">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddress">Street Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Street Address" ng-model="self.vol.StreetAddress">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="City" ng-model="self.vol.City">
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control" ng-model="self.vol.State">
                    <option selected>-Select-</option>

                    <option value="AL">AL - Alabama</option>
                    <option value="AK">AK - Alaska</option>
                    <option value="AZ">AZ - Arizona</option>
                    <option value="AR">AR - Arkansas</option>
                    <option value="CA">CA - California</option>

                    <option value="CO">CO - Colorado</option>
                    <option value="CT">CT - Connecticut</option>
                    <option value="DE">DE - Delaware</option>
                    <option value="FL">FL - Florida</option>
                    <option value="GA">GA - Georgia</option>

                    <option value="HI">HI - Hawaii</option>
                    <option value="ID">ID - Idaho</option>
                    <option value="IL">IL - Illinois</option>
                    <option value="IN">IN - Indianna</option>
                    <option value="IA">IA - Iowa</option>

                    <option value="KS">KS - Kansas</option>
                    <option value="KY">KY - Kentucky</option>
                    <option value="LA">LA - Louisiana</option>
                    <option value="ME">ME - Maine</option>
                    <option value="MD">MD - Maryland</option>

                    <option value="MA">MA - Massachusetts</option>
                    <option value="MI">MI - Michigan</option>
                    <option value="MN">MN - Minnesota</option>
                    <option value="MS">MS - Mississippi</option>
                    <option value="MO">MO - Missouri</option>

                    <option value="MT">MT - Montana</option>
                    <option value="NE">NE - Nebraska</option>
                    <option value="NV">NV - Nevada</option>
                    <option value="NH">NH - New Hampshire</option>
                    <option value="NJ">NJ - New Jersey</option>

                    <option value="NM">NM - New Mexico</option>
                    <option value="NY">NY - New York</option>
                    <option value="NC">NC - North Carolina</option>
                    <option value="ND">ND - North Dakota</option>
                    <option value="OH">OH - Ohio</option>

                    <option value="OK">OK - Oklahoma</option>
                    <option value="OR">OR - Oregon</option>
                    <option value="PA">PA - Pennsylvania</option>
                    <option value="RI">RI - Rhode Island</option>
                    <option value="SC">SC - South Carolina</option>

                    <option value="SD">SD - South Dakota</option>
                    <option value="TN">TN - Tennessee</option>
                    <option value="TX">TX - Texas</option>
                    <option value="UT">UT - Utah</option>
                    <option value="VT">VT - Vermont</option>

                    <option value="VA">VA - Virginia</option>
                    <option value="WA">WA - Washington</option>
                    <option value="WV">WV- West Virginia</option>
                    <option value="WI">WI - Wisconsin</option>
                    <option value="WY">WY - Wyoming</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">Zip Code</label>
                <input type="text" class="form-control" id="inputZip" placeholder="#####" ng-model="self.vol.ZipCode">
            </div>
        </div>

        <h4>Certified Skills</h4>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" name="skills" value="fireSafety" label="Fire Safety">
                <label>Fire Safety </label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="skills" value="emsTraining">
                <label> EMS Training </label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="skills" value="lifeguardTraining">
                <label>Lifeguard Training</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="skills" value="firstaidTraining">
                <label>First-aid Training</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="skills" value="leadershipTraining">
                <label>Leadership Training</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="skills" value="redcross">
                <label>Redcross Certification</label>
            </div>
        </div>

        <button href="#" class="btn btn-outline-danger" ng-click="self.back()">Cancel</button>
        <button type="submit" class="btn btn-outline-danger" ng-click="self.update(true)">Update</button>
        <!--<button type="submit" class="btn btn-outline-danger" ng-click="self.submitForm(true)">Update</button> <!--should be self.submitForm(form.$valid) when error checking gets implemented-->
    </form>
</div>

