<h3>Edit Volunteer</h3>

<div ng-if="self.loadDb === true" style="text-align:center;">
    <img src="Content/images/loadingtruck2.gif" style="box-shadow:0 0 8px 8px white inset; height:260px; width:350px;" />
    <p style="font-weight:bold;">Fetching data...</p>
</div>

<div ng-if="self.loadDb === false">
    <form id="editvolForm" name="form" ng-submit="form.$valid" novalidate>
        <h4>Personal Information</h4>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>First Name</label>
                <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="self.vol.FirstName" required>
                <div ng-show="form.$submitted">
                    <p ng-show="form.firstName.$error.required">First Name is required</p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="self.vol.LastName" required>
                <div ng-show="form.$submitted">
                    <p ng-show="form.lastName.$error.required">Last Name is required</p>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email" ng-model="self.vol.Email" required>
                <div ng-show="form.$submitted">
                    <p ng-show="form.email.$error.required">Email is required</p>
                    <p ng-show="form.email.$error.email">Invalid Email format</p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input type="text" name="phoneNumber" class="form-control" placeholder="###-###-####" ng-model="self.vol.PhoneNumber" ng-pattern="self.phoneNumberPattern" required>
                <div ng-show="form.$submitted">
                    <p ng-show="form.phoneNumber.$error.required">Phone Number is required</p>
                    <p ng-show="form.phoneNumber.$error.pattern">Invalid Phone Number</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddress">Street Address</label>
            <input type="text" name="streetAddress" class="form-control" id="inputAddress" placeholder="Street Address" ng-model="self.vol.StreetAddress" required>
            <div ng-show="form.$submitted">
                <p ng-show="form.streetAddress.$error.required">Street Address is required</p>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" name="city" class="form-control" id="inputCity" placeholder="City" ng-model="self.vol.City" required>
                <div ng-show="form.$submitted">
                    <p ng-show="form.city.$error.required">City is required</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">State</label>
                <select id="inputState" name="state" class="form-control" ng-model="self.vol.State" required>
                    <option value="">-Select-</option>

                    <option value="AL">AL - Alabama</option>
                    <option value="AK">AK - Alaska</option>
                    <option value="AZ">AZ - Arizona</option>
                    <option value="AR">AR - Arkansas</option>
                    <option value="CA">CA - California</option>

                    <option value="CO">CO - Colorado</option>
                    <option value="CT">CT - Connecticut</option>
                    <option value="DE">DE - Delaware</option>
                    <option value="FL">FL - Florida</option>
                    <option value="GA">GA - Georgia</option>

                    <option value="HI">HI - Hawaii</option>
                    <option value="ID">ID - Idaho</option>
                    <option value="IL">IL - Illinois</option>
                    <option value="IN">IN - Indianna</option>
                    <option value="IA">IA - Iowa</option>

                    <option value="KS">KS - Kansas</option>
                    <option value="KY">KY - Kentucky</option>
                    <option value="LA">LA - Louisiana</option>
                    <option value="ME">ME - Maine</option>
                    <option value="MD">MD - Maryland</option>

                    <option value="MA">MA - Massachusetts</option>
                    <option value="MI">MI - Michigan</option>
                    <option value="MN">MN - Minnesota</option>
                    <option value="MS">MS - Mississippi</option>
                    <option value="MO">MO - Missouri</option>

                    <option value="MT">MT - Montana</option>
                    <option value="NE">NE - Nebraska</option>
                    <option value="NV">NV - Nevada</option>
                    <option value="NH">NH - New Hampshire</option>
                    <option value="NJ">NJ - New Jersey</option>

                    <option value="NM">NM - New Mexico</option>
                    <option value="NY">NY - New York</option>
                    <option value="NC">NC - North Carolina</option>
                    <option value="ND">ND - North Dakota</option>
                    <option value="OH">OH - Ohio</option>

                    <option value="OK">OK - Oklahoma</option>
                    <option value="OR">OR - Oregon</option>
                    <option value="PA">PA - Pennsylvania</option>
                    <option value="RI">RI - Rhode Island</option>
                    <option value="SC">SC - South Carolina</option>

                    <option value="SD">SD - South Dakota</option>
                    <option value="TN">TN - Tennessee</option>
                    <option value="TX">TX - Texas</option>
                    <option value="UT">UT - Utah</option>
                    <option value="VT">VT - Vermont</option>

                    <option value="VA">VA - Virginia</option>
                    <option value="WA">WA - Washington</option>
                    <option value="WV">WV- West Virginia</option>
                    <option value="WI">WI - Wisconsin</option>
                    <option value="WY">WY - Wyoming</option>
                </select>
                <div ng-show="form.$submitted">
                    <p ng-show="form.state.$error.required">Please select State</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">Zip Code</label>
                <input type="tel" name="zipCode" class="form-control" id="inputZip" placeholder="#####" ng-model="self.vol.ZipCode" ng-pattern="self.zipCodePattern" required>
                <div ng-show="form.$submitted">
                    <p ng-show="form.zipCode.$error.required">Zip Code is required</p>
                    <p ng-show="form.zipCode.$error.pattern">Invalid Zip Code</p>
                </div>
            </div>
        </div>

        <fieldset id="skillsChkbx">
            <h4>Certified Skills</h4>

            <!--<div ng-show="form.$submitted">
                <div ng-if="self.sCount === 0">
                    <p style="text-align:center;">Please select skill/s</p>
                </div>
            </div>-->

            <div>
                <label class="btn btn-light" style="width:230px;" ng-model="self.skills[0].isChecked" uib-btn-checkbox>{{self.skills[0].Name}}</label>
                <label class="btn btn-light" style="width:230px;" ng-model="self.skills[1].isChecked" uib-btn-checkbox>{{self.skills[1].Name}}</label>
                <label class="btn btn-light" style="width:230px;" ng-model="self.skills[2].isChecked" uib-btn-checkbox>{{self.skills[2].Name}}</label>
            </div>
            <div>
                <label class="btn btn-light" style="width:230px;" ng-model="self.skills[3].isChecked" uib-btn-checkbox>{{self.skills[3].Name}}</label>
                <label class="btn btn-light" style="width:230px;" ng-model="self.skills[4].isChecked" uib-btn-checkbox>{{self.skills[4].Name}}</label>
                <label class="btn btn-light" style="width:230px;" ng-model="self.skills[5].isChecked" uib-btn-checkbox>{{self.skills[5].Name}}</label>
            </div>
        </fieldset>

        <a href="/search" role="button" class="btn btn-outline-danger">Cancel</a>
        <button type="submit" class="btn btn-outline-danger" ng-click="self.update(form.$valid)">Update</button>
    </form>
</div>

