<h3>Send Notification</h3>

<div>
    <form id="emergencyForm" name="eform" ng-submit="eform.$valid" novalidate>
        <div class="form-group">
            <label for="emergencies">Emergency</label>
            <input type="text" class="form-control" id="emergencies" value="emergency" readonly>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="emergencyDate">Date</label>
                <!--<input type="text" name="emergencyDate" class="form-control" id="emergencyDate" value="{{self.currentDateTime | date:'EEEE, MM/dd/yyyy'}}" readonly>-->
                <!--<input type="text" class="form-control" id="emergencyDate" ng-model="self.message.date" value="{{self.currentDateTime | date:'EEEE, MM/dd/yyyy'}}" readonly>-->
                <input type="text" class="form-control" id="emergencyDate" data-ng-model="self.message.date" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="emergencyTime">Time</label>
                <!--<input type="text" name="emergencyTime" class="form-control" id="emergencyTime" value="{{self.currentDateTime | date:'hh:mm:ss a'}}" readonly>-->
                <!--<input type="text" class="form-control" id="emergencyTime" ng-model="self.message.time" value="{{self.currentDateTime | date:'hh:mm:ss a'}}" readonly>-->
                <input type="text" class="form-control" id="emergencyTime" data-ng-model="self.message.time" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="emergencyAddress">Street Address</label>
            <input type="text" name="streetAddress" class="form-control" id="emergencyAddress" ng-model="self.message.streetAddress" required>
            <div ng-show="eform.$submitted">
                <p ng-show="eform.streetAddress.$error.required">Street Address is required</p>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="emergencyCity">City</label>
                <input type="text" name="city" class="form-control" id="emergencyCity" ng-model="self.message.city" required>
                <div ng-show="eform.$submitted">
                    <p ng-show="eform.city.$error.required">City is required</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="emergencyState">State</label>
                <select id="emergencyState" name="state" class="form-control" ng-model="self.message.state" required>
                    <option value="">-Select-</option>

                    <option value="al">AL - Alabama</option>
                    <option value="ak">AK - Alaska</option>
                    <option value="az">AZ - Arizona</option>
                    <option value="ar">AR - Arkansas</option>
                    <option value="ca">CA - California</option>

                    <option value="co">CO - Colorado</option>
                    <option value="ct">CT - Connecticut</option>
                    <option value="de">DE - Delaware</option>
                    <option value="fl">FL - Florida</option>
                    <option value="ga">GA - Georgia</option>

                    <option value="hi">HI - Hawaii</option>
                    <option value="id">ID - Idaho</option>
                    <option value="il">IL - Illinois</option>
                    <option value="in">IN - Indianna</option>
                    <option value="ia">IA - Iowa</option>

                    <option value="ks">KS - Kansas</option>
                    <option value="ky">KY - Kentucky</option>
                    <option value="la">LA - Louisiana</option>
                    <option value="me">ME - Maine</option>
                    <option value="md">MD - Maryland</option>

                    <option value="ma">MA - Massachusetts</option>
                    <option value="mi">MI - Michigan</option>
                    <option value="mn">MN - Minnesota</option>
                    <option value="ms">MS - Mississippi</option>
                    <option value="mo">MO - Missouri</option>

                    <option value="mt">MT - Montana</option>
                    <option value="ne">NE - Nebraska</option>
                    <option value="nv">NV - Nevada</option>
                    <option value="nh">NH - New Hampshire</option>
                    <option value="nj">NJ - New Jersey</option>

                    <option value="nm">NM - New Mexico</option>
                    <option value="ny">NY - New York</option>
                    <option value="nc">NC - North Carolina</option>
                    <option value="nd">ND - North Dakota</option>
                    <option value="oh">OH - Ohio</option>

                    <option value="ok">OK - Oklahoma</option>
                    <option value="or">OR - Oregon</option>
                    <option value="pa">PA - Pennsylvania</option>
                    <option value="ri">RI - Rhode Island</option>
                    <option value="sc">SC - South Carolina</option>

                    <option value="sd">SD - South Dakota</option>
                    <option value="tn">TN - Tennessee</option>
                    <option value="tx">TX - Texas</option>
                    <option value="ut">UT - Utah</option>
                    <option value="vt">VT - Vermont</option>

                    <option value="va">VA - Virginia</option>
                    <option value="wa">WA - Washington</option>
                    <option value="wv">WV- West Virginia</option>
                    <option value="wi">WI - Wisconsin</option>
                    <option value="wy">WY - Wyoming</option>
                </select>
                <div ng-show="eform.$submitted">
                    <p ng-show="eform.state.$error.required">Please select State</p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="emergencyZip">Zip Code</label>
                <input type="text" name="zip" class="form-control" id="emergencyZip" ng-model="self.message.zip" ng-pattern="self.zipCodePattern" required>
                <div ng-show="eform.$submitted">
                    <p ng-show="eform.zip.$error.required">Zip Code is required</p>
                    <p ng-show="eform.zip.$error.pattern">Invalid Zip Code</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="emergencyComments">Addtional Comments</label>
            <textarea class="form-control" id="emergencyComments" rows="4" ng-model="self.message.comment" />
        </div>


        <a href="/home" role="button" class="btn btn-outline-danger">Back</a>
        <button type="submit" class="btn btn-outline-danger" ng-click="self.send(eform.$valid)">Send</button>
        <!--<button type="submit" class="btn btn-outline-danger" ng-click="self.sendTestEmail()">TEST EMAIL</button>-->       
    </form>
</div>