<h3>History</h3>

<div ng-if="self.loadDb === true" style="text-align:center;">
    <img src="Content/images/loadingtruck2.gif" height="260" width="350" />
    <p style="font-weight:bold;">Fetching data...</p>
</div>

<div ng-if="self.loadDb === false">
    <table class="table">
        <thead>
            <tr>
                <!--<th>ID</th>-->
                <th style="width: 150px;">Date</th>
                <th style="width: 150px;">Time</th>
                <th style="width: 200px;">Emergency</th>
                <!--<th style="width: 500px;">Address</th>
                <th style="width: 500px;">Comments</th>
                <th style="width: 150px;">Sent By</th>-->
                <th style="width: 575px;">Address</th>
                <th style="width: 575px;">Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="h in self.history | startFrom: self.currentPage * self.pageSize | limitTo: self.pageSize">
                <!--<td>{{h.HisoryID}}</td>-->
                <td>{{h.EmergencyDate}}</td>
                <td>{{h.EmergencyTime}}</td>
                <td>{{h.Emergency}}</td>
                <td>{{h.StreetAddress}}, {{h.City}}, {{h.State}} {{h.Zip}}</td>
                <td>{{h.Comment}}</td>
                <!--<td>Director</td>-->
            </tr>
        </tbody>
    </table>

    <br />
    <div style="text-align:center;">
        <button class="btn btn-outline-danger" ng-disabled="self.currentPage == 0" ng-click="self.currentPage = self.currentPage-1">
            <
        </button>
        {{self.currentPage+1}}/{{self.numberOfPages()}}
        <button class="btn btn-outline-danger" ng-disabled="self.currentPage >= self.history.length / self.pageSize-1" ng-click="self.currentPage = self.currentPage+1">
            >
        </button>
    </div>
</div>


