<h3>Home</h3>

<fieldset id="emergencyList">
    <h4>Select Emergency</h4>

    <div ng-if="self.eCount === 0">
        <p style="text-align:center; color:red; font-size:small;">Please select emergency/s</p>
    </div>

    <div class="btn-group">
        <div>
            <label class="btn btn-light col" ng-model="self.emergencies[0].isChecked" uib-btn-checkbox>{{self.emergencies[0].Name}}</label>
            <label class="btn btn-light col" ng-model="self.emergencies[1].isChecked" uib-btn-checkbox>{{self.emergencies[1].Name}}</label>
            <label class="btn btn-light col" ng-model="self.emergencies[2].isChecked" uib-btn-checkbox>{{self.emergencies[2].Name}}</label>
            <label class="btn btn-light col" ng-model="self.emergencies[3].isChecked" uib-btn-checkbox>{{self.emergencies[3].Name}}</label>
        </div>

        <div>
            <label class="btn btn-light col" ng-model="self.emergencies[4].isChecked" uib-btn-checkbox>{{self.emergencies[4].Name}}</label>
            <label class="btn btn-light col" ng-model="self.emergencies[5].isChecked" uib-btn-checkbox>{{self.emergencies[5].Name}}</label>
            <label class="btn btn-light col" ng-model="self.emergencies[6].isChecked" uib-btn-checkbox>{{self.emergencies[6].Name}}</label>
            <label class="btn btn-light col" ng-model="self.emergencies[7].isChecked" uib-btn-checkbox>{{self.emergencies[7].Name}}</label>
        </div>
    </div>

    <div>
        <a role="button" href="#" class="btn btn-outline-danger"  ng-click="self.proceed()" ng-disabled="self.eCount === 0">Next</a>
    </div>
</fieldset>





