<h3>Home</h3>

<fieldset id="emergencyList" name="echecklist">
    <legend>Emergency Scenarios</legend>
    <!-- option 1 -->
    <ul>
        <li ng-repeat="e in self.emergencies" style="list-style-type: none;">
            <input type="checkbox" id="e-{{e.OptionValue}}" ng-model="e.IsSelected" ng-change="e.canProceed()"> <!-- value="{{e.Name}}" ng-change="self.canProceed()"-->
            <label>{{e.Name}}</label>
        </li>
    </ul>

    <ul style="list-style-type: none;">
        <li>
            <!--<a role="button" href="/emergencyDetail" class="btn btn-outline-danger">Next - not disabled</a>-->
            <!--<button type="submit" href="/emergencyDetail" class="btn btn-outline-danger" ng-disabled="!self.checkedOneOrMore">Next</button>-->
            <a role="button" href="/emergencyDetail" class="btn btn-outline-danger">Next</a>
        </li>
    </ul>

    <!-- option 2 -->
    <!--<div class="btn-group">
        <div>
            <label class="btn btn-light col-md-6" style="height:50px; padding-top:12px;" uib-btn-checkbox>Earthquake</label>
            <label class="btn btn-light col-md-6" style="height:50px; padding-top:12px;" uib-btn-checkbox>Fire</label>
            <label class="btn btn-light col-md-6" style="height:50px; padding-top:12px;" uib-btn-checkbox>Flood</label>
            <label class="btn btn-light col-md-6" style="height:50px; padding-top:12px;" uib-btn-checkbox>Hurricane</label>
        </div>

        <div>
            <label class="btn btn-light col-md-6" style="height:50px; padding-top:12px;" uib-btn-checkbox>Snow Storm</label>
            <label class="btn btn-light col-md-6" style="height:50px; padding-top:12px;" uib-btn-checkbox>Terrorist</label>
            <label class="btn btn-light col-md-6" style="height:50px; padding-top:12px;" uib-btn-checkbox>Tornado</label>
            <label class="btn btn-light col-md-6" style="height:50px; padding-top:12px;" uib-btn-checkbox>Wildfire</label>
        </div>
    </div>

    <div>
        <a role="button" href="/emergencyDetail" class="btn btn-outline-danger">Next - not disabled</a>
        <button type="submit" href="/emergencyDetail" class="btn btn-outline-danger" ng-disabled="!self.checkedOneOrMore">Next</button>
    </div>-->
</fieldset>





