<h3>Search</h3>

<div ng-if="self.loadDb === true" style="text-align:center;">
    <img src="Content/images/loadingtruck2.gif" height="260" width="350" />
    <p style="font-weight:bold;">Fetching data...</p>
</div>

<div ng-if="self.loadDb === false">
    <div class="input-group">
        <div class="input-group-prepend">
            <select style="height:50px;" class="form-control" name="type" ng-model="self.selectSearch" ng-dropdown required>
                <option value="name" selected>Name</option>
                <option value="emergency">Emergency</option>
            </select>
        </div>

        <div ng-if="self.selectSearch=='name'">
            <input style="height:50px; width:930px;" type="text" class="form-control" placeholder="Search" ng-model="self.searchText" ng-keyup="$event.keyCode == 13 && self.buttonClick()" />
        </div>

        <div ng-if="self.selectSearch=='emergency'">
            <div class="btn-group" style="height:50px; width:930px;" id="searchByEmergency">
                <label class="btn btn-light col-md-2" ng-model="self.emergencies[0].isChecked" uib-btn-checkbox>{{self.emergencies[0].Name}}</label>
                <label class="btn btn-light col-md-2" ng-model="self.emergencies[1].isChecked" uib-btn-checkbox>{{self.emergencies[1].Name}}</label>
                <label class="btn btn-light col-md-2" ng-model="self.emergencies[2].isChecked" uib-btn-checkbox>{{self.emergencies[2].Name}}</label>
                <label class="btn btn-light col-md-2" ng-model="self.emergencies[3].isChecked" uib-btn-checkbox>{{self.emergencies[3].Name}}</label>
                <label class="btn btn-light col-md-2" ng-model="self.emergencies[4].isChecked" uib-btn-checkbox>{{self.emergencies[4].Name}}</label>
                <label class="btn btn-light col-md-2" ng-model="self.emergencies[5].isChecked" uib-btn-checkbox>{{self.emergencies[5].Name}}</label>
                <label class="btn btn-light col-md-2" ng-model="self.emergencies[6].isChecked" uib-btn-checkbox>{{self.emergencies[6].Name}}</label>
                <label class="btn btn-light col-md-2" ng-model="self.emergencies[7].isChecked" uib-btn-checkbox>{{self.emergencies[7].Name}}</label>
            </div>
        </div>

        <div class="input-group-append">
            <button style="height:50px;" href="#" class="btn btn-outline-danger" ng-click="self.buttonClick()"><img src="Content/images/search.png"></button>
        </div>
    </div>
    <br /><br />

    <table class="table" ng-model="self.volunteers" ng-if="self.loadTable">
        <thead>
            <tr>
                <!--<th>ID</th>-->
                <th style="width: 300px;">Name</th>
                <th style="width: 250px;">Email</th>
                <th style="width: 250px;">Phone Number</th>
                <th style="width: 500px;">Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="v in self.volunteerTable | orderBy: '+FirstName' | startFrom: self.currentPage * self.pageSize | limitTo: self.pageSize">
                <!--<td>{{v.VolunteerID}}</td>-->
                <td>{{v.FirstName}} {{v.LastName}}</td>
                <td>{{v.Email}}</td>
                <td>{{v.PhoneNumber}}</td>
                <td>{{v.StreetAddress}}, {{v.City}}, {{v.State}} {{v.ZipCode}}</td>

                <td><a role="button" href="#" class="btn btn-outline-danger btn-sm" ng-click="self.edit(v.VolunteerID)"><img src="Content/images/edit.png"></a></td>
                <td><a role="button" href="#" class="btn btn-outline-danger btn-sm" ng-click="self.delete(v.VolunteerID)"><img src="Content/images/delete.png"></a></td>
            </tr>
        </tbody>
    </table>

    <div ng-if="self.selectSearch=='name'">
        <div ng-if="((self.volunteerTable).length === 0) || self.searchText === null">No match found.</div>
    </div>

    <div ng-if="self.selectSearch=='emergency'">
        <div ng-if="self.eCount === 0">No emergency selected.</div>

        <div ng-if="self.loadEgroup === true" ng-hide="((self.emergencyVolunteers).length > 0) || (self.eCount === 0)" style="text-align:center;">
            <img src="Content/images/loadingtruck2.gif" height="260" width="350" />
            <p style="font-weight:bold;">Fetching results...</p>
        </div>
    </div>

    <br />
    <div style="text-align:center;" ng-if="self.loadTable">
        <button class="btn btn-outline-danger" ng-disabled="self.currentPage == 0" ng-click="self.currentPage = self.currentPage-1">
            <
        </button>
        {{self.currentPage+1}}/{{self.numberOfPages()}}
        <button class="btn btn-outline-danger" ng-disabled="self.currentPage >= self.volunteerTable.length / self.pageSize-1" ng-click="self.currentPage = self.currentPage+1">
            >
        </button>
    </div>
</div>