<h3>Search</h3>


<!--<div>
    <form id="searchForm">
        <div class="form-row align-items-center">
            <div class="col-md-2">
                <select class="custom-select">
                    <option selected>-Select-</option>
                    <option value="name">Name</option>
                    <option value="group">Group</option>
                </select>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Search" />
            </div>
            <div class="col-md-1">
                <!- -<button type="submit" class="btn btn-primary">Submit</button>- ->
                <a href="/searchResult" role="button" class="btn btn-outline-danger"><img src="Content/images/search.png"></a>
            </div>
        </div>
    </form>
</div>-->



<div class="input-group">
    <div class="input-group-prepend">
        <select style="height:50px;" class="form-control" name="type" ng-model="search.type" ng-dropdown required>
            <option ng-option value="name" selected>Name</option>
            <option ng-option value="group">Group</option>
        </select>
    </div>

    <div ng-if="search.type=='name'">
        <!--width:950px;  class="col-md-10" style="padding:0;"-->
        <input style="height:50px; width:960px;" type="text" class="form-control" placeholder="Search" ng-model="self.searchText" ng-keyup="$event.keyCode == 13 && self.buttonClick()" />
    </div>

    <div ng-if="search.type=='group'">
        <!--width:950px;  class="col-md-10" style="padding:0;"-->
        <div class="btn-group" style="height:50px; width:960px;">
            <label class="btn btn-light col-md-2" style="height:50px; padding-top:12px;" uib-btn-checkbox>Earthquake</label>
            <label class="btn btn-light col-md-2" style="height:50px; padding-top:12px;" uib-btn-checkbox>Fire</label>
            <label class="btn btn-light col-md-2" style="height:50px; padding-top:12px;" uib-btn-checkbox>Flood</label>
            <label class="btn btn-light col-md-2" style="height:50px; padding-top:12px;" uib-btn-checkbox>Hurricane</label>
            <label class="btn btn-light col-md-2" style="height:50px; padding-top:12px;" uib-btn-checkbox>Snow Storm</label>
            <label class="btn btn-light col-md-2" style="height:50px; padding-top:12px;" uib-btn-checkbox>Terrorist</label>
            <label class="btn btn-light col-md-2" style="height:50px; padding-top:12px;" uib-btn-checkbox>Tornado</label>
            <label class="btn btn-light col-md-2" style="height:50px; padding-top:12px;" uib-btn-checkbox>Wildfire</label>
        </div>


        <!--<select style="height:50px; width:950px;" class="form-control" name="selectedGroups" ng-model="self.data.selectedGroups" multiple required>
        <!- -<option value="">-- Select group/s --</option>- ->
        <option ng-repeat="g in self.groups" value="{{g.Name}}">{{g.Name}}</option>
    </select>
    <p style="text-align:center; font-size:small; color:red;">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
    <p>Selected Groups: {{self.data.selectedGroups}}</p>-->
        <!--<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>-->
    </div>

    <div class="input-group-append">
        <!--<a href="/searchResult" role="button" class="btn btn-outline-danger"><img src="Content/images/search.png"></a>-->
        <button style="height:50px;" href="#" class="btn btn-outline-danger" ng-click="self.buttonClick()"><img src="Content/images/search.png"></button>
    </div>
</div>

<br /><br />

<table class="table" ng-model="self.volunteers" ng-if="self.loadTable">
    <thead>
        <tr>
            <!--<th>ID</th>-->
            <th style="width: 300px;">Name</th>
            <th style="width: 250px;">Email</th>
            <th style="width: 250px;">Phone Number</th>
            <th style="width: 500px;">Address</th>
            <th>Action</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="v in self.volunteers | filter: searchText">-->
        <!--<tr ng-repeat="v in self.searchName()">-->
        <tr ng-repeat="v in self.volunteerTable">
            <!--<td>{{v.VolunteerID}}</td>-->
            <td>{{v.FirstName}} {{v.LastName}}</td>
            <td>{{v.Email}}</td>
            <td>{{v.PhoneNumber}}</td>
            <td>{{v.StreetAddress}}, {{v.City}}, {{v.State}} {{v.ZipCode}}</td>

            <td><a role="button" href="#" class="btn btn-outline-danger btn-sm" ng-click="self.edit(v.VolunteerID)"><img src="Content/images/edit.png"></a></td>
            <td><a role="button" href="#" class="btn btn-outline-danger btn-sm" ng-click="self.delete(v.VolunteerID)"><img src="Content/images/delete.png"></a></td>
        </tr>
    </tbody>
</table>

<div ng-show="(self.volunteerTable).length==0">No match found.</div>


