<h3>View All</h3>

<table class="table" ng-model="volSources">
    <thead>
        <tr>
            <!--<th>ID</th>-->
            <th style="width: 300px;">Name</th>
            <th style="width: 250px;">Email</th>
            <th style="width: 250px;">Phone Number</th>
            <th style="width: 550px;">Address</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="v in volunteers">
            <!--<td>{{v.id}}</td>-->
            <td>{{v.firstName}} {{v.lastName}}</td>
            <td>{{v.email}}</td>
            <td>{{v.phoneNumber}}</td>
            <td>{{v.streetAddress}}, {{v.city}}, {{v.state}} {{v.zipCode}}</td>
            <td><a href="#" class="btn btn-primary btn-sm" role="button">Update</a></td>
            <td><button class="btn btn-primary btn-sm" ng-click="deletePopup(v.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
