<h3>View All</h3>

<table class="table" ng-model="volSources">
    <thead>
        <tr>
            <th>ID</th>
            <th style="width: 300px;">Name</th>
            <th style="width: 250px;">Email</th>
            <th style="width: 250px;">Phone Number</th>
            <th style="width: 550px;">Address</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="v in volunteers">
            <td>{{v.id}}</td>
            <td>{{v.firstName}} {{v.lastName}}</td>
            <td>{{v.email}}</td>
            <td>{{v.phoneNumber}}</td>
            <td>{{v.streetAddress}}, {{v.city}}, {{v.state}} {{v.zipCode}}</td>
            <!--<td><a href="#" class="btn btn-outline-danger" role="button" ng-click="editVol(v.id)"><img src="Content/images/edit.png"></a></td>-->

            <!--<td><button href="#" type="submit" class="btn btn-outline-danger btn-sm" ng-click="editVol(v.id)"><img src="Content/images/edit.png"></button></td>
            <td><button type="submit" class="btn btn-outline-danger btn-sm" ng-click="deletePopup(v.id)"><img src="Content/images/delete.png"></button></td>-->

            <td><a role="button" href="#" class="btn btn-outline-danger btn-sm" ng-click="editVol(v.id)"><img src="Content/images/edit.png"></a></td>
            <td><a role="button" href="#" class="btn btn-outline-danger btn-sm" ng-click="deletePopup(v.id)"><img src="Content/images/delete.png"></a></td>


            <!--<a href="/searchResult" role="button" class="btn btn-outline-danger"><img src="Content/images/search.png"></a>-->
        </tr>
    </tbody>
</table>
