.site_container {
  width: 1000px;
  /* margin: 10px auto auto; */
  margin: 10px auto -60px;
  height: auto !important;
  height: 100%;
}

footer {
  color: white;
  background-color: #f08080;
  padding: 8px 10px;
  font-size: 10pt;
  font-family: Arial;
  /* position: absolute; */
  position: relative;
  /* width: 1000px; */
  /* bottom: 0; */
  text-align: center;
  height: 60px;
}

footer hr {
  border: none;
  height: 2px;
  width: 350px;
  background-color: white;
}

.site_heading {
  color: white;
  margin-left: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #f08080;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 120px;
}

.navbar .login {
  float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dd_button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    width: 160px;
}

.navbar a:hover, .dropdown:hover .dd_button, .dd_button:focus {
    background-color: white;
    color: #f08080;
}

.dd_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dd_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dd_content a:hover {
    background-color: #ffe4e1;
}

.show {
    display: block;
}


/* -- emergency list ------------------------------------------------------- */
table {
	style="font-size:xx-large;
}

.checkboxes li{
  display: block;
  position: middle;
  padding-left: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  float: left;
  width: 25%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.next:hover {
    background-color: #ddd;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
	width: 100px;
	height: 40px;
}


/* -- add contact form ------------------------------------------------------- */
.formID label {
  display: block;
  float: left;
  width: 150px;
  font-weight: bold;
  margin-left: 30px;
}

.formID input, select {
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 150px;
}

.certSkills input {
  display: block;
  float: left;
  margin-left: 30px;
}

.certSkills label {
  display: block;
  margin-bottom: 5px;
  margin-left: 50px;
}


/* -- next form ------------------------------------------------------- */
.nextID label {
  display: block;
  float: left;
  width: 150px;
  font-weight: bold;
  margin-left: 30px;
}

.nextID input {
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 180px;
}


/* -- login form ------------------------------------------------------- */
.loginID {
    margin-left: 250px;
}

.loginID label {
  display: block;
  float: left;
  width: 100px;
  font-weight: bold;
}

.loginID input {
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 100px;
}


/* -- search form ------------------------------------------------------- */
.searchID select {
  display: block;
  float: left;
  width: 80px;
  margin-left: 250px;
}

.searchID .searchBar {
  margin-left: 5px;
  width: 400px
}
