/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges * /
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
* /
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default * /
input,
select,
textarea {
    max-width: 280px;
}
*/



body {
    padding-top: 120px;
    padding-bottom: 20px;
    max-width: 1920px;

    @media (min-width: 992px) {
        body {
            padding-top: 80px;
        }
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    background-color: #cd5c5c; /*lightcoral #f08080, dodgerblue #1e90ff, indianred #cd5c5c*/
    /*color: white;*/
}

.nav-item {
    /*color: white;*/
}

.nav-item:hover {
    /*background-color:#094c84;*/
    color: white;
    text-decoration: underline;
}

.dropdown-item:hover {
    text-decoration: underline;
}
/*comment this out to go back to normal container size on nav*/
nav .container {
    /*max-width: 1920px;*/
    max-width: 1600px;
}

#itemsLeftNav {
    margin-left: 10px;
}

#logo {
    padding-right: 30px;
}

.container #wrapper {
    width: 1920px;
    margin-left: auto;
}

footer {
    max-width: 1920px;
    margin-left: auto;
    padding-left: 85px;
    /*margin-top: -24px;*/
    margin-top: 100px;
    padding-bottom: 10px;
    text-align: center;
}

footer hr {
    border: none;
    height: 2px;
    width: 350px;
    background-color: #cd5c5c;
}

#main {
    background-color: white;
    margin-bottom: 0px;
}

#scp {
    font-family: 'Lato', sans-serif;
}

#emergencyChkbx li {
    display: block;
    position: center;
    padding-left: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    float: left;
    width: 25%;
}


